In [1]:
import pandas as pd
import seaborn as sns

In [2]:
raw_poverty_df = pd.read_csv('poverty_statistics.csv')

raw_voter_df = pd.read_csv('voter_turnout.csv')

raw_presidential_vs_midterm_df = pd.read_csv('presidential_vs_midterm.csv')

raw_extra_poverty_statistics_df = pd.read_csv('extra_poverty_statistics.csv')

In [3]:
raw_poverty_df.head()

,Year,Percent Change in People in Poverty Over the Next Two Years(%),Unnamed: 2,Percent of people in poverty (%),Unnamed: 4,Unnamed: 5,Comparison1,Under 18 years (%),Unnamed: 8,Unnamed: 9,...,"Female householder, no spouse present with children (%)",Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Comparison4,White (%),Unnamed: 26,Comparison5
0,1960,-0.012,NaN,0.222,NaN,NaN,0.210,0.269,NaN,NaN,...,0.563,NaN,NaN,NaN,NaN,NaN,0.597,0.178,NaN,0.164
1,1962,-0.020,NaN,0.210,NaN,NaN,0.190,0.250,NaN,NaN,...,0.597,NaN,NaN,NaN,NaN,NaN,0.497,0.164,NaN,0.149
2,1964,-0.043,NaN,0.190,NaN,NaN,0.147,0.230,NaN,NaN,...,0.497,NaN,NaN,NaN,NaN,NaN,0.471,0.149,NaN,0.113
3,1966,-0.019,NaN,0.147,NaN,NaN,0.128,0.176,NaN,NaN,...,0.471,NaN,NaN,NaN,NaN,NaN,0.446,0.113,NaN,0.100
4,1968,-0.002,NaN,0.128,NaN,NaN,0.126,0.156,NaN,NaN,...,0.446,NaN,NaN,NaN,NaN,NaN,0.438,0.100,NaN,0.099

In [4]:
raw_poverty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 28 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Year                                                             30 non-null     int64
 1   Percent Change in People in Poverty Over the Next Two Years(%)   30 non-null     float64
 2   Unnamed: 2                                                       0 non-null      float64
 3   Percent of people in poverty (%)                                 30 non-null     float64
 4   Unnamed: 4                                                       0 non-null      float64
 5   Unnamed: 5                                                       0 non-null      float64
 6   Comparison1                                                      30 non-null     float64
 7           Under 18 years (%)                                       30 non-null     float64
 8   Unnamed: 8                                                       0 non-null      float64
 9   Unnamed: 9                                                       0 non-null      float64
 10  Comparison2                                                      30 non-null     float64
 11          Persons not in families/Unrelated individuals (%)        30 non-null     float64
 12  Unnamed: 12                                                      0 non-null      float64
 13  Unnamed: 13                                                      0 non-null      float64
 14  Unnamed: 14                                                      0 non-null      float64
 15  Unnamed: 15                                                      0 non-null      float64
 16  Unnamed: 16                                                      0 non-null      float64
 17  Comparison3                                                      30 non-null     float64
 18          Female householder, no spouse present with children (%)  30 non-null     float64
 19  Unnamed: 19                                                      0 non-null      float64
 20  Unnamed: 20                                                      0 non-null      float64
 21  Unnamed: 21                                                      0 non-null      float64
 22  Unnamed: 22                                                      0 non-null      float64
 23  Unnamed: 23                                                      0 non-null      float64
 24  Comparison4                                                      30 non-null     float64
 25          White (%)                                                30 non-null     float64
 26  Unnamed: 26                                                      0 non-null      float64
 27  Comparison5                                                      30 non-null     float64
dtypes: float64(27), int64(1)
memory usage: 6.7 KB

In [5]:
raw_extra_poverty_statistics_df.head()

,Years,18 to 64 years (%),65+ years (%),Married couple families without children (%),Married couple families with children (%),Persons not in families/Unrelated individuals (%),"Male householder, no spouse present with children (%)","Female householder, no spouse present with children (%)",White (%),Black (%),...,South Dakota (%),Tennessee (%),Texas (%),Utah (%),Vermont (%),Virginia (%),Washington (%),West Virginia (%),Wisconsin (%),Wyoming (%)
0,1980,0.101,0.157,0.045,0.077,0.086,0.180,0.429,0.102,0.325,...,0.188,0.196,0.157,0.100,0.120,0.124,0.127,0.152,0.085,0.104
1,1982,0.120,0.146,0.054,0.098,0.115,0.206,0.478,0.120,0.356,...,0.168,0.236,0.162,0.145,0.129,0.125,0.129,0.248,0.095,0.120
2,1984,0.117,0.124,0.045,0.094,0.106,0.181,0.457,0.115,0.338,...,0.145,0.174,0.157,0.111,0.126,0.100,0.113,0.204,0.155,0.109
3,1986,0.108,0.124,0.041,0.080,0.092,0.178,0.460,0.110,0.311,...,0.170,0.183,0.173,0.126,0.110,0.097,0.129,0.224,0.107,0.146
4,1988,0.105,0.120,0.040,0.072,0.089,0.180,0.447,0.101,0.313,...,0.142,0.180,0.180,0.098,0.081,0.108,0.087,0.179,0.078,0.096

In [6]:
raw_extra_poverty_statistics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 67 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Years                                                            20 non-null     int64
 1           18 to 64 years (%)                                       20 non-null     float64
 2           65+ years (%)                                            20 non-null     float64
 3           Married couple families without children (%)             20 non-null     float64
 4           Married couple families with children (%)                20 non-null     float64
 5           Persons not in families/Unrelated individuals (%)        20 non-null     float64
 6           Male householder, no spouse present with children (%)    20 non-null     float64
 7           Female householder, no spouse present with children (%)  20 non-null     float64
 8           White (%)                                                20 non-null     float64
 9           Black (%)                                                20 non-null     float64
 10          Hispanic (%)                                             20 non-null     float64
 11          White, non-Hispanic (%)                                  20 non-null     float64
 12          Northeast (%)                                            20 non-null     float64
 13          West (%)                                                 20 non-null     float64
 14          South (%)                                                20 non-null     float64
 15          Midwest (%)                                              20 non-null     float64
 16          Alabama (%)                                              20 non-null     float64
 17          Alaska (%)                                               20 non-null     float64
 18          Arizona (%)                                              20 non-null     float64
 19          Arkansas (%)                                             20 non-null     float64
 20          California (%)                                           20 non-null     float64
 21          Colorado (%)                                             20 non-null     float64
 22          Connecticut (%)                                          20 non-null     float64
 23          Delaware (%)                                             20 non-null     float64
 24          District of Columbia (%)                                 20 non-null     float64
 25          Florida (%)                                              20 non-null     float64
 26          Georgia (%)                                              20 non-null     float64
 27          Hawaii (%)                                               20 non-null     float64
 28          Idaho (%)                                                20 non-null     float64
 29          Illinois (%)                                             20 non-null     float64
 30          Indiana (%)                                              20 non-null     float64
 31          Iowa (%)                                                 20 non-null     float64
 32          Kansas (%)                                               20 non-null     float64
 33          Kentucky (%)                                             20 non-null     float64
 34          Louisiana (%)                                            20 non-null     float64
 35          Maine (%)                                                20 non-null     float64
 36          Maryland (%)                                             20 non-null     float64
 37          Massachusetts (%)                                        20 non-null     float64
 38          Michigan (%)                                             20 non-null     float64
 39          Minnesota (%)                                            20 non-null     float64
 40          Mississippi (%)                                          20 non-null     float64
 41          Missouri (%)                                             20 non-null     float64
 42          Montana (%)                                              20 non-null     float64
 43          Nebraska (%)                                             20 non-null     float64
 44          Nevada (%)                                               20 non-null     float64
 45          New Hampshire (%)                                        20 non-null     float64
 46          New Jersey (%)                                           20 non-null     float64
 47          New Mexico (%)                                           20 non-null     float64
 48          New York (%)                                             20 non-null     float64
 49          North Carolina (%)                                       20 non-null     float64
 50          North Dakota (%)                                         20 non-null     float64
 51          Ohio (%)                                                 20 non-null     float64
 52          Oklahoma (%)                                             20 non-null     float64
 53          Oregon (%)                                               20 non-null     float64
 54          Pennsylvania (%)                                         20 non-null     float64
 55          Rhode Island (%)                                         20 non-null     float64
 56          South Carolina (%)                                       20 non-null     float64
 57          South Dakota (%)                                         20 non-null     float64
 58          Tennessee (%)                                            20 non-null     float64
 59          Texas (%)                                                20 non-null     float64
 60          Utah (%)                                                 20 non-null     float64
 61          Vermont (%)                                              20 non-null     float64
 62          Virginia (%)                                             20 non-null     float64
 63          Washington (%)                                           20 non-null     float64
 64          West Virginia (%)                                        20 non-null     float64
 65          Wisconsin (%)                                            20 non-null     float64
 66          Wyoming (%)                                              20 non-null     float64
dtypes: float64(66), int64(1)
memory usage: 10.6 KB

In [7]:
poverty_df = raw_poverty_df.copy()

voter_df = raw_voter_df.copy()

presidential_vs_midterm_df = raw_presidential_vs_midterm_df.copy()

extra_poverty_stats_df = raw_extra_poverty_statistics_df.copy()

In [8]:
import regex as re

poverty_list = poverty_df.columns.to_list()
poverty_columns = []

for column in poverty_list:
    column = column.replace(" ", "_")
    
    poverty_columns.append(column)
    
voter_list = voter_df.columns.to_list()
voter_columns = []

for column in voter_list:
    column = column.replace(" ", "_")
    
    voter_columns.append(column)
    
presidential_vs_midterm_list = presidential_vs_midterm_df.columns.to_list()
presidential_vs_midterm_columns = []

for column in presidential_vs_midterm_list:
    column = column.replace(" ", "_")
    
    presidential_vs_midterm_columns.append(column)
    
extra_poverty_stats_list = extra_poverty_stats_df.columns.to_list()
extra_poverty_stats_columns = []

for column in extra_poverty_stats_list:
    column = column.replace(" ", "_")
    
    extra_poverty_stats_columns.append(column)
    
extra_poverty_stats_df.columns = extra_poverty_stats_columns
poverty_df.columns = poverty_columns
voter_df.columns = voter_columns
presidential_vs_midterm_df.columns = presidential_vs_midterm_columns

In [9]:
poverty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 28 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Year                                                             30 non-null     int64
 1   Percent_Change_in_People_in_Poverty_Over_the_Next_Two_Years(%)   30 non-null     float64
 2   Unnamed:_2                                                       0 non-null      float64
 3   Percent_of_people_in_poverty_(%)                                 30 non-null     float64
 4   Unnamed:_4                                                       0 non-null      float64
 5   Unnamed:_5                                                       0 non-null      float64
 6   Comparison1                                                      30 non-null     float64
 7   ________Under_18_years_(%)                                       30 non-null     float64
 8   Unnamed:_8                                                       0 non-null      float64
 9   Unnamed:_9                                                       0 non-null      float64
 10  Comparison2                                                      30 non-null     float64
 11  ________Persons_not_in_families/Unrelated_individuals_(%)        30 non-null     float64
 12  Unnamed:_12                                                      0 non-null      float64
 13  Unnamed:_13                                                      0 non-null      float64
 14  Unnamed:_14                                                      0 non-null      float64
 15  Unnamed:_15                                                      0 non-null      float64
 16  Unnamed:_16                                                      0 non-null      float64
 17  Comparison3                                                      30 non-null     float64
 18  ________Female_householder,_no_spouse_present_with_children_(%)  30 non-null     float64
 19  Unnamed:_19                                                      0 non-null      float64
 20  Unnamed:_20                                                      0 non-null      float64
 21  Unnamed:_21                                                      0 non-null      float64
 22  Unnamed:_22                                                      0 non-null      float64
 23  Unnamed:_23                                                      0 non-null      float64
 24  Comparison4                                                      30 non-null     float64
 25  ________White_(%)                                                30 non-null     float64
 26  Unnamed:_26                                                      0 non-null      float64
 27  Comparison5                                                      30 non-null     float64
dtypes: float64(27), int64(1)
memory usage: 6.7 KB

In [10]:
poverty_df.drop(columns=['Unnamed:_2'], inplace=True)

In [11]:
poverty_df.drop(columns=['Comparison1'], inplace=True)

In [12]:
poverty_df.drop(columns=['Unnamed:_8'], inplace=True)

In [13]:
poverty_df.drop(columns=['Unnamed:_9'], inplace=True)

In [14]:
poverty_df.drop(columns=['Comparison2'], inplace=True)

In [15]:
poverty_df.drop(columns=['Unnamed:_12'], inplace=True)

In [16]:
poverty_df.drop(columns=['Unnamed:_13'], inplace=True)

In [17]:
poverty_df.drop(columns=['Unnamed:_14'], inplace=True)

In [18]:
poverty_df.drop(columns=['Unnamed:_15'], inplace=True)

In [19]:
poverty_df.drop(columns=['Unnamed:_16'], inplace=True)

In [20]:
poverty_df.drop(columns=['Comparison3'], inplace=True)

In [21]:
poverty_df.drop(columns=['Unnamed:_19'], inplace=True)

In [22]:
poverty_df.drop(columns=['Unnamed:_20'], inplace=True)

In [23]:
poverty_df.drop(columns=['Unnamed:_21'], inplace=True)

In [24]:
poverty_df.drop(columns=['Unnamed:_22'], inplace=True)

In [25]:
poverty_df.drop(columns=['Unnamed:_23'], inplace=True)

In [26]:
poverty_df.drop(columns=['Comparison4'], inplace=True)

In [27]:
poverty_df.drop(columns=['Unnamed:_26'], inplace=True)

In [28]:
poverty_df.drop(columns=['Comparison5'], inplace=True)

In [29]:
poverty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Year                                                             30 non-null     int64
 1   Percent_Change_in_People_in_Poverty_Over_the_Next_Two_Years(%)   30 non-null     float64
 2   Percent_of_people_in_poverty_(%)                                 30 non-null     float64
 3   Unnamed:_4                                                       0 non-null      float64
 4   Unnamed:_5                                                       0 non-null      float64
 5   ________Under_18_years_(%)                                       30 non-null     float64
 6   ________Persons_not_in_families/Unrelated_individuals_(%)        30 non-null     float64
 7   ________Female_householder,_no_spouse_present_with_children_(%)  30 non-null     float64
 8   ________White_(%)                                                30 non-null     float64
dtypes: float64(8), int64(1)
memory usage: 2.2 KB

In [30]:
poverty_df['under_18_change'] = (poverty_df['________Under_18_years_(%)'] - poverty_df['________Under_18_years_(%)'].shift())

In [31]:
poverty_df['under_18_change'] = poverty_df['under_18_change'].shift(-1)

In [32]:
extra_poverty_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 67 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Years                                                            20 non-null     int64
 1   ________18_to_64_years_(%)                                       20 non-null     float64
 2   ________65+_years_(%)                                            20 non-null     float64
 3   ________Married_couple_families_without_children_(%)             20 non-null     float64
 4   ________Married_couple_families_with_children_(%)                20 non-null     float64
 5   ________Persons_not_in_families/Unrelated_individuals_(%)        20 non-null     float64
 6   ________Male_householder,_no_spouse_present_with_children_(%)    20 non-null     float64
 7   ________Female_householder,_no_spouse_present_with_children_(%)  20 non-null     float64
 8   ________White_(%)                                                20 non-null     float64
 9   ________Black_(%)                                                20 non-null     float64
 10  ________Hispanic_(%)                                             20 non-null     float64
 11  ________White,_non-Hispanic_(%)                                  20 non-null     float64
 12  ________Northeast_(%)                                            20 non-null     float64
 13  ________West_(%)                                                 20 non-null     float64
 14  ________South_(%)                                                20 non-null     float64
 15  ________Midwest_(%)                                              20 non-null     float64
 16  ________Alabama_(%)                                              20 non-null     float64
 17  ________Alaska_(%)                                               20 non-null     float64
 18  ________Arizona_(%)                                              20 non-null     float64
 19  ________Arkansas_(%)                                             20 non-null     float64
 20  ________California_(%)                                           20 non-null     float64
 21  ________Colorado_(%)                                             20 non-null     float64
 22  ________Connecticut_(%)                                          20 non-null     float64
 23  ________Delaware_(%)                                             20 non-null     float64
 24  ________District_of_Columbia_(%)                                 20 non-null     float64
 25  ________Florida_(%)                                              20 non-null     float64
 26  ________Georgia_(%)                                              20 non-null     float64
 27  ________Hawaii_(%)                                               20 non-null     float64
 28  ________Idaho_(%)                                                20 non-null     float64
 29  ________Illinois_(%)                                             20 non-null     float64
 30  ________Indiana_(%)                                              20 non-null     float64
 31  ________Iowa_(%)                                                 20 non-null     float64
 32  ________Kansas_(%)                                               20 non-null     float64
 33  ________Kentucky_(%)                                             20 non-null     float64
 34  ________Louisiana_(%)                                            20 non-null     float64
 35  ________Maine_(%)                                                20 non-null     float64
 36  ________Maryland_(%)                                             20 non-null     float64
 37  ________Massachusetts_(%)                                        20 non-null     float64
 38  ________Michigan_(%)                                             20 non-null     float64
 39  ________Minnesota_(%)                                            20 non-null     float64
 40  ________Mississippi_(%)                                          20 non-null     float64
 41  ________Missouri_(%)                                             20 non-null     float64
 42  ________Montana_(%)                                              20 non-null     float64
 43  ________Nebraska_(%)                                             20 non-null     float64
 44  ________Nevada_(%)                                               20 non-null     float64
 45  ________New_Hampshire_(%)                                        20 non-null     float64
 46  ________New_Jersey_(%)                                           20 non-null     float64
 47  ________New_Mexico_(%)                                           20 non-null     float64
 48  ________New_York_(%)                                             20 non-null     float64
 49  ________North_Carolina_(%)                                       20 non-null     float64
 50  ________North_Dakota_(%)                                         20 non-null     float64
 51  ________Ohio_(%)                                                 20 non-null     float64
 52  ________Oklahoma_(%)                                             20 non-null     float64
 53  ________Oregon_(%)                                               20 non-null     float64
 54  ________Pennsylvania_(%)                                         20 non-null     float64
 55  ________Rhode_Island_(%)                                         20 non-null     float64
 56  ________South_Carolina_(%)                                       20 non-null     float64
 57  ________South_Dakota_(%)                                         20 non-null     float64
 58  ________Tennessee_(%)                                            20 non-null     float64
 59  ________Texas_(%)                                                20 non-null     float64
 60  ________Utah_(%)                                                 20 non-null     float64
 61  ________Vermont_(%)                                              20 non-null     float64
 62  ________Virginia_(%)                                             20 non-null     float64
 63  ________Washington_(%)                                           20 non-null     float64
 64  ________West_Virginia_(%)                                        20 non-null     float64
 65  ________Wisconsin_(%)                                            20 non-null     float64
 66  ________Wyoming_(%)                                              20 non-null     float64
dtypes: float64(66), int64(1)
memory usage: 10.6 KB

In [33]:
extra_poverty_stats_df['18_to_64_change'] = (extra_poverty_stats_df['________18_to_64_years_(%)'] - extra_poverty_stats_df['________18_to_64_years_(%)'].shift())

In [34]:
extra_poverty_stats_df['18_to_64_change'] = extra_poverty_stats_df['18_to_64_change'].shift(-1)

In [35]:
extra_poverty_stats_df['65+_change'] = (extra_poverty_stats_df['________65+_years_(%)'] - extra_poverty_stats_df['________65+_years_(%)'].shift())

In [36]:
extra_poverty_stats_df['65+_change'] = extra_poverty_stats_df['65+_change'].shift(-1)

In [37]:
extra_poverty_stats_df['married_without_children_change'] = (extra_poverty_stats_df['________Married_couple_families_without_children_(%)'] - extra_poverty_stats_df['________Married_couple_families_without_children_(%)'].shift())

In [38]:
extra_poverty_stats_df['married_without_children_change'] = extra_poverty_stats_df['married_without_children_change'].shift(-1)

In [39]:
extra_poverty_stats_df['married_with_children_change'] = (extra_poverty_stats_df['________Married_couple_families_with_children_(%)'] - extra_poverty_stats_df['________Married_couple_families_with_children_(%)'].shift())

In [40]:
extra_poverty_stats_df['married_with_children_change'] = extra_poverty_stats_df['married_with_children_change'].shift(-1)

In [41]:
extra_poverty_stats_df['out_of_families_change'] = (extra_poverty_stats_df['________Persons_not_in_families/Unrelated_individuals_(%)'] - extra_poverty_stats_df['________Persons_not_in_families/Unrelated_individuals_(%)'].shift())

In [42]:
extra_poverty_stats_df['out_of_families_change'] = extra_poverty_stats_df['out_of_families_change'].shift(-1)

In [43]:
extra_poverty_stats_df['single_father_change'] = (extra_poverty_stats_df['________Male_householder,_no_spouse_present_with_children_(%)'] - extra_poverty_stats_df['________Male_householder,_no_spouse_present_with_children_(%)'].shift())

In [44]:
extra_poverty_stats_df['single_father_change'] = extra_poverty_stats_df['single_father_change'].shift(-1)

In [45]:
extra_poverty_stats_df['single_mother_change'] = (extra_poverty_stats_df['________Female_householder,_no_spouse_present_with_children_(%)'] - extra_poverty_stats_df['________Female_householder,_no_spouse_present_with_children_(%)'].shift())

In [46]:
extra_poverty_stats_df['single_mother_change'] = extra_poverty_stats_df['single_mother_change'].shift(-1)

In [47]:
extra_poverty_stats_df['white_change'] = (extra_poverty_stats_df['________White_(%)'] - extra_poverty_stats_df['________White_(%)'].shift())

In [48]:
extra_poverty_stats_df['white_change'] = extra_poverty_stats_df['white_change'].shift(-1)

In [49]:
extra_poverty_stats_df['black_change'] = (extra_poverty_stats_df['________Black_(%)'] - extra_poverty_stats_df['________Black_(%)'].shift())

In [50]:
extra_poverty_stats_df['black_change'] = extra_poverty_stats_df['black_change'].shift(-1)

In [51]:
extra_poverty_stats_df['hispanic_change'] = (extra_poverty_stats_df['________Hispanic_(%)'] - extra_poverty_stats_df['________Hispanic_(%)'].shift())

In [52]:
extra_poverty_stats_df['hispanic_change'] = extra_poverty_stats_df['hispanic_change'].shift(-1)

In [53]:
extra_poverty_stats_df['white_not_hispanic_change'] = (extra_poverty_stats_df['________White,_non-Hispanic_(%)'] - extra_poverty_stats_df['________White,_non-Hispanic_(%)'].shift())

In [54]:
extra_poverty_stats_df['white_not_hispanic_change'] = extra_poverty_stats_df['white_not_hispanic_change'].shift(-1)

In [55]:
extra_poverty_stats_df['northeast_change'] = (extra_poverty_stats_df['________Northeast_(%)'] - extra_poverty_stats_df['________Northeast_(%)'].shift())

In [56]:
extra_poverty_stats_df['northeast_change'] = extra_poverty_stats_df['northeast_change'].shift(-1)

In [57]:
extra_poverty_stats_df['west_change'] = (extra_poverty_stats_df['________West_(%)'] - extra_poverty_stats_df['________West_(%)'].shift())

In [58]:
extra_poverty_stats_df['west_change'] = extra_poverty_stats_df['west_change'].shift(-1)

In [59]:
extra_poverty_stats_df['south_change'] = (extra_poverty_stats_df['________South_(%)'] - extra_poverty_stats_df['________South_(%)'].shift())

In [60]:
extra_poverty_stats_df['south_change'] = extra_poverty_stats_df['south_change'].shift(-1)

In [61]:
extra_poverty_stats_df['midwest_change'] = (extra_poverty_stats_df['________Midwest_(%)'] - extra_poverty_stats_df['________Midwest_(%)'].shift())

In [62]:
extra_poverty_stats_df['midwest_change'] = extra_poverty_stats_df['midwest_change'].shift(-1)

In [63]:
extra_poverty_stats_df['alaska_change'] = (extra_poverty_stats_df['________Alaska_(%)'] - extra_poverty_stats_df['________Alaska_(%)'].shift())

In [64]:
extra_poverty_stats_df['alaska_change'] = extra_poverty_stats_df['alaska_change'].shift(-1)

In [65]:
extra_poverty_stats_df['alabama_change'] = (extra_poverty_stats_df['________Alabama_(%)'] - extra_poverty_stats_df['________Alabama_(%)'].shift())

In [66]:
extra_poverty_stats_df['alabama_change'] = extra_poverty_stats_df['alabama_change'].shift(-1)

In [67]:
extra_poverty_stats_df['arizona_change'] = (extra_poverty_stats_df['________Arizona_(%)'] - extra_poverty_stats_df['________Arizona_(%)'].shift())

In [68]:
extra_poverty_stats_df['arizona_change'] = extra_poverty_stats_df['arizona_change'].shift(-1)

In [69]:
extra_poverty_stats_df['arkansas_change'] = (extra_poverty_stats_df['________Arkansas_(%)'] - extra_poverty_stats_df['________Arkansas_(%)'].shift())

In [70]:
extra_poverty_stats_df['arkansas_change'] = extra_poverty_stats_df['arkansas_change'].shift(-1)

In [71]:
extra_poverty_stats_df['california_change'] = (extra_poverty_stats_df['________California_(%)'] - extra_poverty_stats_df['________California_(%)'].shift())

In [72]:
extra_poverty_stats_df['california_change'] = extra_poverty_stats_df['california_change'].shift(-1)

In [73]:
extra_poverty_stats_df['colorado_change'] = (extra_poverty_stats_df['________Colorado_(%)'] - extra_poverty_stats_df['________Colorado_(%)'].shift())

In [74]:
extra_poverty_stats_df['colorado_change'] = extra_poverty_stats_df['colorado_change'].shift(-1)

In [75]:
extra_poverty_stats_df['connecticut_change'] = (extra_poverty_stats_df['________Connecticut_(%)'] - extra_poverty_stats_df['________Connecticut_(%)'].shift())

In [76]:
extra_poverty_stats_df['connecticut_change'] = extra_poverty_stats_df['connecticut_change'].shift(-1)

In [77]:
extra_poverty_stats_df['delaware_change'] = (extra_poverty_stats_df['________Delaware_(%)'] - extra_poverty_stats_df['________Delaware_(%)'].shift())

In [78]:
extra_poverty_stats_df['delaware_change'] = extra_poverty_stats_df['delaware_change'].shift(-1)

In [79]:
extra_poverty_stats_df['dc_change'] = (extra_poverty_stats_df['________District_of_Columbia_(%)'] - extra_poverty_stats_df['________District_of_Columbia_(%)'].shift())

In [80]:
extra_poverty_stats_df['dc_change'] = extra_poverty_stats_df['dc_change'].shift(-1)

In [81]:
extra_poverty_stats_df['florida_change'] = (extra_poverty_stats_df['________Florida_(%)'] - extra_poverty_stats_df['________Florida_(%)'].shift())

In [82]:
extra_poverty_stats_df['florida_change'] = extra_poverty_stats_df['florida_change'].shift(-1)

In [83]:
extra_poverty_stats_df['georgia_change'] = (extra_poverty_stats_df['________Georgia_(%)'] - extra_poverty_stats_df['________Georgia_(%)'].shift())

In [84]:
extra_poverty_stats_df['georgia_change'] = extra_poverty_stats_df['georgia_change'].shift(-1)

In [85]:
extra_poverty_stats_df['hawaii_change'] = (extra_poverty_stats_df['________Hawaii_(%)'] - extra_poverty_stats_df['________Hawaii_(%)'].shift())

In [86]:
extra_poverty_stats_df['hawaii_change'] = extra_poverty_stats_df['hawaii_change'].shift(-1)

In [87]:
extra_poverty_stats_df['idaho_change'] = (extra_poverty_stats_df['________Idaho_(%)'] - extra_poverty_stats_df['________Idaho_(%)'].shift())

In [88]:
extra_poverty_stats_df['idaho_change'] = extra_poverty_stats_df['idaho_change'].shift(-1)

In [89]:
extra_poverty_stats_df['illinois_change'] = (extra_poverty_stats_df['________Illinois_(%)'] - extra_poverty_stats_df['________Illinois_(%)'].shift())

In [90]:
extra_poverty_stats_df['illinois_change'] = extra_poverty_stats_df['illinois_change'].shift(-1)

In [91]:
extra_poverty_stats_df['indiana_change'] = (extra_poverty_stats_df['________Indiana_(%)'] - extra_poverty_stats_df['________Indiana_(%)'].shift())

In [92]:
extra_poverty_stats_df['indiana_change'] = extra_poverty_stats_df['indiana_change'].shift(-1)

In [93]:
extra_poverty_stats_df['iowa_change'] = (extra_poverty_stats_df['________Iowa_(%)'] - extra_poverty_stats_df['________Iowa_(%)'].shift())

In [94]:
extra_poverty_stats_df['iowa_change'] = extra_poverty_stats_df['iowa_change'].shift(-1)

In [95]:
extra_poverty_stats_df['kansas_change'] = (extra_poverty_stats_df['________Kansas_(%)'] - extra_poverty_stats_df['________Kansas_(%)'].shift())

In [96]:
extra_poverty_stats_df['kansas_change'] = extra_poverty_stats_df['kansas_change'].shift(-1)

In [97]:
extra_poverty_stats_df['kentucky_change'] = (extra_poverty_stats_df['________Kentucky_(%)'] - extra_poverty_stats_df['________Kentucky_(%)'].shift())

In [98]:
extra_poverty_stats_df['kentucky_change'] = extra_poverty_stats_df['kentucky_change'].shift(-1)

In [99]:
extra_poverty_stats_df['louisiana_change'] = (extra_poverty_stats_df['________Louisiana_(%)'] - extra_poverty_stats_df['________Louisiana_(%)'].shift())

In [100]:
extra_poverty_stats_df['louisiana_change'] = extra_poverty_stats_df['louisiana_change'].shift(-1)

In [101]:
extra_poverty_stats_df['maine_change'] = (extra_poverty_stats_df['________Maine_(%)'] - extra_poverty_stats_df['________Maine_(%)'].shift())

In [102]:
extra_poverty_stats_df['maine_change'] = extra_poverty_stats_df['maine_change'].shift(-1)

In [103]:
extra_poverty_stats_df['maryland_change'] = (extra_poverty_stats_df['________Maryland_(%)'] - extra_poverty_stats_df['________Maryland_(%)'].shift())

In [104]:
extra_poverty_stats_df['maryland_change'] = extra_poverty_stats_df['maryland_change'].shift(-1)

In [105]:
extra_poverty_stats_df['massachusetts_change'] = (extra_poverty_stats_df['________Massachusetts_(%)'] - extra_poverty_stats_df['________Massachusetts_(%)'].shift())

In [106]:
extra_poverty_stats_df['massachusetts_change'] = extra_poverty_stats_df['massachusetts_change'].shift(-1)

In [107]:
extra_poverty_stats_df['michigan_change'] = (extra_poverty_stats_df['________Michigan_(%)'] - extra_poverty_stats_df['________Michigan_(%)'].shift())

In [108]:
extra_poverty_stats_df['michigan_change'] = extra_poverty_stats_df['michigan_change'].shift(-1)

In [109]:
extra_poverty_stats_df['minnesota_change'] = (extra_poverty_stats_df['________Minnesota_(%)'] - extra_poverty_stats_df['________Minnesota_(%)'].shift())

In [110]:
extra_poverty_stats_df['minnesota_change'] = extra_poverty_stats_df['minnesota_change'].shift(-1)

In [111]:
extra_poverty_stats_df['mississippi_change'] = (extra_poverty_stats_df['________Mississippi_(%)'] - extra_poverty_stats_df['________Mississippi_(%)'].shift())

In [112]:
extra_poverty_stats_df['mississippi_change'] = extra_poverty_stats_df['mississippi_change'].shift(-1)

In [113]:
extra_poverty_stats_df['missouri_change'] = (extra_poverty_stats_df['________Missouri_(%)'] - extra_poverty_stats_df['________Missouri_(%)'].shift())

In [114]:
extra_poverty_stats_df['missouri_change'] = extra_poverty_stats_df['missouri_change'].shift(-1)

In [115]:
extra_poverty_stats_df['montana_change'] = (extra_poverty_stats_df['________Montana_(%)'] - extra_poverty_stats_df['________Montana_(%)'].shift())

In [116]:
extra_poverty_stats_df['montana_change'] = extra_poverty_stats_df['montana_change'].shift(-1)

In [117]:
extra_poverty_stats_df['nebraska_change'] = (extra_poverty_stats_df['________Nebraska_(%)'] - extra_poverty_stats_df['________Nebraska_(%)'].shift())

In [118]:
extra_poverty_stats_df['nebraska_change'] = extra_poverty_stats_df['nebraska_change'].shift(-1)

In [119]:
extra_poverty_stats_df['nevada_change'] = (extra_poverty_stats_df['________Nevada_(%)'] - extra_poverty_stats_df['________Nevada_(%)'].shift())

In [120]:
extra_poverty_stats_df['nevada_change'] = extra_poverty_stats_df['nevada_change'].shift(-1)

In [121]:
extra_poverty_stats_df['new_hampshire_change'] = (extra_poverty_stats_df['________New_Hampshire_(%)'] - extra_poverty_stats_df['________New_Hampshire_(%)'].shift())

In [122]:
extra_poverty_stats_df['new_hampshire_change'] = extra_poverty_stats_df['new_hampshire_change'].shift(-1)

In [123]:
extra_poverty_stats_df['new_jersey_change'] = (extra_poverty_stats_df['________New_Jersey_(%)'] - extra_poverty_stats_df['________New_Jersey_(%)'].shift())

In [124]:
extra_poverty_stats_df['new_jersey_change'] = extra_poverty_stats_df['new_jersey_change'].shift(-1)

In [125]:
extra_poverty_stats_df['new_mexico_change'] = (extra_poverty_stats_df['________New_Mexico_(%)'] - extra_poverty_stats_df['________New_Mexico_(%)'].shift())

In [126]:
extra_poverty_stats_df['new_mexico_change'] = extra_poverty_stats_df['new_mexico_change'].shift(-1)

In [127]:
extra_poverty_stats_df['new_york_change'] = (extra_poverty_stats_df['________New_York_(%)'] - extra_poverty_stats_df['________New_York_(%)'].shift())

In [128]:
extra_poverty_stats_df['new_york_change'] = extra_poverty_stats_df['new_york_change'].shift(-1)

In [129]:
extra_poverty_stats_df['north_carolina_change'] = (extra_poverty_stats_df['________North_Carolina_(%)'] - extra_poverty_stats_df['________North_Carolina_(%)'].shift())

In [130]:
extra_poverty_stats_df['north_carolina_change'] = extra_poverty_stats_df['north_carolina_change'].shift(-1)

In [131]:
extra_poverty_stats_df['north_dakota_change'] = (extra_poverty_stats_df['________North_Dakota_(%)'] - extra_poverty_stats_df['________North_Dakota_(%)'].shift())

In [132]:
extra_poverty_stats_df['north_dakota_change'] = extra_poverty_stats_df['north_dakota_change'].shift(-1)

In [133]:
extra_poverty_stats_df['ohio_change'] = (extra_poverty_stats_df['________Ohio_(%)'] - extra_poverty_stats_df['________Ohio_(%)'].shift())

In [134]:
extra_poverty_stats_df['ohio_change'] = extra_poverty_stats_df['ohio_change'].shift(-1)

In [135]:
extra_poverty_stats_df['oklahoma_change'] = (extra_poverty_stats_df['________Oklahoma_(%)'] - extra_poverty_stats_df['________Oklahoma_(%)'].shift())

In [136]:
extra_poverty_stats_df['oklahoma_change'] = extra_poverty_stats_df['oklahoma_change'].shift(-1)

In [137]:
extra_poverty_stats_df['oregon_change'] = (extra_poverty_stats_df['________Oregon_(%)'] - extra_poverty_stats_df['________Oregon_(%)'].shift())

In [138]:
extra_poverty_stats_df['oregon_change'] = extra_poverty_stats_df['oregon_change'].shift(-1)

In [139]:
extra_poverty_stats_df['pennsylvania_change'] = (extra_poverty_stats_df['________Pennsylvania_(%)'] - extra_poverty_stats_df['________Pennsylvania_(%)'].shift())

In [140]:
extra_poverty_stats_df['pennsylvania_change'] = extra_poverty_stats_df['pennsylvania_change'].shift(-1)

In [141]:
extra_poverty_stats_df['rhode_island_change'] = (extra_poverty_stats_df['________Rhode_Island_(%)'] - extra_poverty_stats_df['________Rhode_Island_(%)'].shift())

In [142]:
extra_poverty_stats_df['rhode_island_change'] = extra_poverty_stats_df['rhode_island_change'].shift(-1)

In [143]:
extra_poverty_stats_df['south_carolina_change'] = (extra_poverty_stats_df['________South_Carolina_(%)'] - extra_poverty_stats_df['________South_Carolina_(%)'].shift())

In [144]:
extra_poverty_stats_df['south_carolina_change'] = extra_poverty_stats_df['south_carolina_change'].shift(-1)

In [145]:
extra_poverty_stats_df['south_dakota_change'] = (extra_poverty_stats_df['________South_Dakota_(%)'] - extra_poverty_stats_df['________South_Dakota_(%)'].shift())

In [146]:
extra_poverty_stats_df['south_dakota_change'] = extra_poverty_stats_df['south_dakota_change'].shift(-1)

In [147]:
extra_poverty_stats_df['tennessee_change'] = (extra_poverty_stats_df['________Tennessee_(%)'] - extra_poverty_stats_df['________Tennessee_(%)'].shift())

In [148]:
extra_poverty_stats_df['tennessee_change'] = extra_poverty_stats_df['tennessee_change'].shift(-1)

In [149]:
extra_poverty_stats_df['texas_change'] = (extra_poverty_stats_df['________Texas_(%)'] - extra_poverty_stats_df['________Texas_(%)'].shift())

In [150]:
extra_poverty_stats_df['texas_change'] = extra_poverty_stats_df['texas_change'].shift(-1)

In [151]:
extra_poverty_stats_df['utah_change'] = (extra_poverty_stats_df['________Utah_(%)'] - extra_poverty_stats_df['________Utah_(%)'].shift())

In [152]:
extra_poverty_stats_df['utah_change'] = extra_poverty_stats_df['utah_change'].shift(-1)

In [153]:
extra_poverty_stats_df['vermont_change'] = (extra_poverty_stats_df['________Vermont_(%)'] - extra_poverty_stats_df['________Vermont_(%)'].shift())

In [154]:
extra_poverty_stats_df['vermont_change'] = extra_poverty_stats_df['vermont_change'].shift(-1)

In [155]:
extra_poverty_stats_df['virginia_change'] = (extra_poverty_stats_df['________Virginia_(%)'] - extra_poverty_stats_df['________Virginia_(%)'].shift())

In [156]:
extra_poverty_stats_df['virginia_change'] = extra_poverty_stats_df['virginia_change'].shift(-1)

In [157]:
extra_poverty_stats_df['washington_change'] = (extra_poverty_stats_df['________Washington_(%)'] - extra_poverty_stats_df['________Washington_(%)'].shift())

In [158]:
extra_poverty_stats_df['washington_change'] = extra_poverty_stats_df['washington_change'].shift(-1)

In [159]:
extra_poverty_stats_df['west_virginia_change'] = (extra_poverty_stats_df['________West_Virginia_(%)'] - extra_poverty_stats_df['________West_Virginia_(%)'].shift())

In [160]:
extra_poverty_stats_df['west_virginia_change'] = extra_poverty_stats_df['west_virginia_change'].shift(-1)

In [161]:
extra_poverty_stats_df['wisconsin_change'] = (extra_poverty_stats_df['________Wisconsin_(%)'] - extra_poverty_stats_df['________Wisconsin_(%)'].shift())

In [162]:
extra_poverty_stats_df['wisconsin_change'] = extra_poverty_stats_df['wisconsin_change'].shift(-1)

In [163]:
extra_poverty_stats_df['wyoming_change'] = (extra_poverty_stats_df['________Wyoming_(%)'] - extra_poverty_stats_df['________Wyoming_(%)'].shift())

In [164]:
extra_poverty_stats_df['wyoming_change'] = extra_poverty_stats_df['wyoming_change'].shift(-1)

In [165]:
extra_poverty_stats_df = extra_poverty_stats_df.dropna()

In [166]:
extra_poverty_stats_df

,Years,________18_to_64_years_(%),________65+_years_(%),________Married_couple_families_without_children_(%),________Married_couple_families_with_children_(%),________Persons_not_in_families/Unrelated_individuals_(%),"________Male_householder,_no_spouse_present_with_children_(%)","________Female_householder,_no_spouse_present_with_children_(%)",________White_(%),________Black_(%),...,south_dakota_change,tennessee_change,texas_change,utah_change,vermont_change,virginia_change,washington_change,west_virginia_change,wisconsin_change,wyoming_change
0,1980,0.101,0.157,0.045,0.077,0.086,0.180,0.429,0.102,0.325,...,-0.020,0.040,0.005,0.045,0.009,0.001,0.002,0.096,0.010,0.016
1,1982,0.120,0.146,0.054,0.098,0.115,0.206,0.478,0.120,0.356,...,-0.023,-0.062,-0.005,-0.034,-0.003,-0.025,-0.016,-0.044,0.060,-0.011
2,1984,0.117,0.124,0.045,0.094,0.106,0.181,0.457,0.115,0.338,...,0.025,0.009,0.016,0.015,-0.016,-0.003,0.016,0.020,-0.048,0.037
3,1986,0.108,0.124,0.041,0.080,0.092,0.178,0.460,0.110,0.311,...,-0.028,-0.003,0.007,-0.028,-0.029,0.011,-0.042,-0.045,-0.029,-0.050
4,1988,0.105,0.120,0.040,0.072,0.089,0.180,0.447,0.101,0.313,...,-0.009,-0.011,-0.021,-0.016,0.028,0.003,0.002,0.002,0.015,0.014
5,1990,0.107,0.122,0.037,0.078,0.085,0.188,0.445,0.107,0.319,...,0.018,0.001,0.024,0.012,-0.004,-0.016,0.023,0.042,0.016,-0.007
6,1992,0.119,0.129,0.042,0.086,0.104,0.225,0.462,0.119,0.334,...,-0.006,-0.024,0.008,-0.014,-0.029,0.012,0.005,-0.037,-0.019,-0.010
7,1994,0.119,0.117,0.039,0.083,0.113,0.226,0.440,0.117,0.306,...,-0.027,0.013,-0.025,-0.003,0.050,0.016,0.002,-0.001,-0.002,0.026
8,1996,0.114,0.108,0.038,0.075,0.095,0.200,0.419,0.112,0.284,...,-0.010,-0.025,-0.015,0.013,-0.027,-0.035,-0.030,-0.007,0.000,-0.013
9,1998,0.105,0.105,0.037,0.069,0.087,0.166,0.387,0.105,0.261,...,-0.001,0.001,0.004,-0.014,0.001,-0.005,0.019,-0.031,0.005,0.002
10,2000,0.096,0.099,0.035,0.060,0.084,0.153,0.330,0.095,0.225,...,0.008,0.013,0.001,0.023,-0.001,0.016,0.002,0.021,-0.007,-0.018
11,2002,0.106,0.104,0.040,0.068,0.094,0.166,0.337,0.102,0.241,...,0.020,0.011,0.009,0.002,-0.021,-0.005,0.004,-0.026,0.038,0.010
12,2004,0.113,0.098,0.043,0.070,0.106,0.171,0.359,0.108,0.247,...,-0.028,-0.010,-0.001,-0.008,0.000,-0.008,-0.034,0.011,-0.023,0.000
13,2006,0.108,0.094,0.037,0.064,0.097,0.179,0.365,0.103,0.243,...,0.024,0.001,-0.005,-0.017,0.012,0.017,0.024,-0.008,-0.003,0.001
14,2008,0.117,0.097,0.039,0.075,0.106,0.176,0.372,0.112,0.247,...,0.005,0.017,0.025,0.024,0.018,0.004,0.012,0.023,0.003,-0.005
15,2010,0.138,0.089,0.042,0.090,0.111,0.241,0.409,0.130,0.274,...,-0.008,0.019,-0.014,0.010,0.004,-0.001,0.000,-0.001,0.013,0.000
16,2012,0.137,0.091,0.043,0.089,0.117,0.226,0.409,0.127,0.272,...,0.000,-0.013,-0.006,-0.008,-0.019,-0.004,0.004,0.039,-0.005,0.001
17,2014,0.135,0.100,0.047,0.082,0.120,0.220,0.398,0.127,0.262,...,0.017,-0.024,-0.026,-0.016,0.003,0.012,-0.010,-0.026,-0.002,0.012
18,2016,0.116,0.093,0.040,0.066,0.105,0.173,0.356,0.110,0.220,...,-0.039,-0.029,-0.001,-0.017,0.001,-0.016,-0.024,-0.021,-0.021,-0.014